.footer {
    position: relative;
    background-color: #F3EFE0;
    height: 200px;
}
.bar {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    height: 2px;
    width: 300px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 100px;
}
.container {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container a {
    color: #000;
    text-decoration: underline;
}
.mail {
    display: flex;
    align-items: center;
}