@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');
* {
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}